html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { overflow-y: scroll; }

body {
    background: #f0f0f0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #313131;
    font-size: 62.5%;
    line-height: 1;
}

::selection { background: #69c8e3; }

::-moz-selection { background: #69c8e3; }

::-webkit-selection { background: #69c8e3; }

::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc !important;
    font-style: italic;
}

br {
    display: block;
    line-height: 2.2em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

input, textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

strong { font-weight: bold; }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

#topbar {
    background: #69c8e3;
    padding: 10px 0 10px 0;
    text-align: center;
    height: 40px;
    overflow: hidden;
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    transition: height 0.5s linear;
}

#topbar a {
    color: #fff;
    font-size: 1.3em;
    line-height: 1.25em;
    text-decoration: none;
    opacity: 0.7;
    font-weight: bold;
}

#topbar a:hover { opacity: 1; }

/** typography **/

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
    padding: .1em 0;
    color: #69c8e3;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

h1:before,
h1:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #69c8e3;
}

h1:before {
    left: -.5em;
    margin: 0 0 0 -50%;
}

h1:after {
    left: .5em;
    margin: 0 -50% 0 0;
}

h1 > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}


h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.1em;
    line-height: 1.4em;
    letter-spacing: normal;
    margin-bottom: 20px;
    padding: .1em 0;
    color: #444;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

p {
    display: block;
    font-size: 1.4em;
    line-height: 1.55em;
    margin-bottom: 22px;
    color: #555;
}

a {
    color: #5a9352;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

.center {
    display: block;
    text-align: center;
}

/** page structure **/

#w {
    display: block;
    width: 650px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#content {
    border-radius: 15px;
    display: block;
    width: 100%;
    background: #fff;
    padding: 25px 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#userphoto {
    display: block;
    float: right;
    margin-left: 10px;
    margin-bottom: 8px;
}

#userphoto img {
    display: block;
    padding: 2px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}


/** profile nav links **/

#profiletabs {
    display: block;
    margin-bottom: 4px;
    height: 100px;
}

#profiletabs ul {
    list-style: none;
    display: block;
    width: 70%;
    height: 50px;
}

#profiletabls ul li { float: left; }

#profiletabs ul li a {
    display: block;
    float: left;
    padding: 8px 11px;
    font-size: 1.2em;
    font-weight: bold;
    background: #eae8db;
    color: #666;
    margin-right: 7px;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
}

#profiletabs ul li a:hover {
    text-decoration: none;
    background: #dad7c2;
    color: #565656;
}

#profiletabs ul li a.sel {
    background: #fff;
    border-color: #d1cdb5;
}


/** profile content sections **/

.hidden { display: none; }

.activity {
    border-bottom: 1px solid #d6d1af;
    padding-bottom: 4px;
}

.setting {
    display: block;
    font-weight: normal;
    padding: 7px 3px;
    border-top: 1px solid #49b3ec;
    margin-bottom: 5px;
}

.setting span {
    float: left;
    width: 250px;
    font-weight: bold;
}

.setting span img { cursor: pointer; }


#friendslist {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
}

#friendslist li { line-height: 30px; }

#friendslist li a {
    float: left;
    height: 30px;
    padding: 3px 6px;
    line-height: 22px;
    margin-right: 15px;
    border: 1px solid #c9d8b8;
}

#friendslist li a img {
    float: left;
    margin-right: 5px;
}

/** clearfix **/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }

* html .clearfix { height: 1%; }

.corner {
    border-radius: 15px;
    border: 2px solid #69c8e3;
    padding: 30px;
    width: auto;
    height: auto;
}

/* Alignments */
.label-align-top
{
    vertical-align: top;
    font-family: "segoe ui" , arial, sans-serif;

}

.label-align, .label-align-top
{
    text-align: right;
    white-space: nowrap;
    font-family: "segoe ui" , arial, sans-serif;
}

.label-align-nowrap, .label-align-top-nowrap
{
    text-align: right;
    font-family: "segoe ui" , arial, sans-serif;
}

.data-align
{
    text-align: left;
    font-family: "segoe ui" , arial, sans-serif;
}

.data-align, .label-align, .label-align-top
{
    padding: 0 5px 20px 0;
    font-family: "segoe ui" , arial, sans-serif;
}

.data-align-num
{
    text-align: right;
    padding-top: 2px;
    padding: 0 5px 4px 0;
    font-family: "segoe ui" , arial, sans-serif;
}

.bold-italic
{
    font-weight: bold;
    font-style: italic;
}

.bold
{
    font-weight: bold;
}

.top
{
    vertical-align: top;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}

.bottom
{
    vertical-align: bottom;
}

.center
{
    text-align: center;
}

.middle
{
    vertical-align: middle;
}

/* Labels */
.label, .label-top, .label-lower, .sub-header
{
    font-size: 11px;
    font-weight: bold;
    color: #707070;
}

.radio-button
{
    vertical-align: top;
    padding-top: 5px;
}

.sub-header
{
    text-decoration: underline;
}

/* Misc */
div.spacer
{
    /* A better alternative to a break, it 	should be used like:  	<div class="spacer">&nbsp;</div> 	Setting the font size to 0 will ensure 	that the height is enforced */
    height: 10px;
    font-size: 0px;
}

div .spacer-small
{
    height: 2px;
    font-size: 0px;
}

.spacer-margin
{
    margin-top: 10px;
}

.spacer-margin-small
{
    margin-top: 2px;
}