<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  <pages>
      <controls>
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
      </controls>
    </pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    
    <!--Use this connection string if using an unnamed sql server instance--> 
    <!--<add name="SdmDbContext" connectionString="server=.; database=SDM; integrated security=true;" providerName="System.Data.SqlClient" />-->

    <!--Use this string if using SQLEXPRESS-->
    <!--<add name="SdmDbContext" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|SDM.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />-->
    
    <!--Use this connection string if using annnamed sql server instance. In this case the instance name is PDB-->
    <add name="SdmDbContext" connectionString="server=.\PDB; database=SDM; integrated security=true;" providerName="System.Data.SqlClient"/>
    
    <!--This is just a sample connection string -Leo-->
    <!--<add name="SampleConnection" connectionString="Data Source=ll-desktop\PDB;Initial Catalog=RPE_DATA;User Id=;Password=;" providerName="System.Data.SqlClient" />-->
    <!--<add name="SDMEntities" connectionString="metadata=res://*/App_Data.SdmModel.csdl|res://*/App_Data.SdmModel.ssdl|res://*/App_Data.SdmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SDM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>